.cards-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card-wrapper { 
    height: 300px;
    width: 300px;
    border: 3px solid #f5f5f5;
    margin-right: 15px;
}